.read-the-docs {
    color: #888;
}

.error {
    color: red;
}

.success {
    color: green;
}

#home{
    background-color: #8f620f;
            display: 'flex';
            float: right;
            width: 150px;
            height: 50px;
            :hover {
                animation: pulsate 1s infinite;
              }
}
