:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

canvas {
    display: block;
}

.background-image {
    background-image: url("./img/game_background.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.button-with-click {
    position: absolute;
    background-image: url('./img/house.png');
    background-size: cover;
    width: 150px;
    height: 150px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    transition: transform 0.3s;
}
.button-with-click:active {
    transform: scale(3);
}
.text-target {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;
}
.text-current-people {
    font-size: 50px;
    font-weight: 1000;
    color: rgb(44, 248, 214);
    text-align: center;
}